.DS_Store
/qiankun-react/node_modules
/vue-qian-ts/node_modules
/vue-qiankun-base/node_modules
/vue-qiankun-js/node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
